@font-face {
	font-family: 'Warhaven';
	src: url('WarhavenBold.ttf') format('truetype');
	src: url('WarhavenRegular.ttf') format('truetype');
	src: url('WarhavenOTFBold.otf') format('opentype');
	src: url('WarhavenOTFRegular.otf') format('opentype');
}
